<form #salaryForm="ngForm">
  <div class="p-grid ui-fluid">
    <div class="p-dir-row p-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input id="base" type="text" pInputText placeholder="Base Salary"
               [(ngModel)]="payrollDTO.incomeDTO.baseSalary">
      </div>
    </div>
    <div class="p-dir-row p-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input id="reimburse" type="text" pInputText placeholder="Reimbursements"
               [(ngModel)]="payrollDTO.incomeDTO.otherCopay">
      </div>
    </div>
    <div class="p-dir-row p-md-4">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input id="travel" type="text" pInputText placeholder="Travel" [(ngModel)]="payrollDTO.incomeDTO.travelCopay">
      </div>
    </div>
    <div class="p-dir-row p-md-4">
      <p-button label="Click" (onClick)=onSubmit()></p-button>
    </div>
  </div>
</form>
